#container {
    display: grid;
    grid-template-columns: 200px 90px;
    grid-template-rows: 200px 300px;
    text-align: center;
}

#boite1 {
    display: grid;
    background-color: lightblue;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 5fr;
}
#boite2 {
    background-color: lightcoral;
}
#boite3 {
    background-color: lightgoldenrodyellow;
}

#boite4 {
    display: grid;
    background-color: lightgreen;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 5fr;
}

#Hautg {
    text-align:start;
}
#Hautd {
    text-align:end;
}

#Basg {
    text-align: start;
}

#Basd {
    text-align: end;
}