#container {
    display: grid;
    grid-template-columns: 200px 500px;
    grid-template-rows: 200px 280px;
    text-align: center;
}

#boite1 {
    display: grid;
    background-color: lightblue;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 5fr;
    border: 5px solid blue;
}
#boite2 {
    background-color: lightcoral;
    border: 5px solid red;
}
#boite3 {
    background-color: lightgoldenrodyellow;
    border: 5px solid yellow;
}

#boite4 {
    display: grid;
    background-color: lightgreen;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 5fr;
}

#Hautg {
    text-align:start;
}
#Hautd {
    text-align:end;
}

#Basg {
    text-align: start;
}

#Basd {
    text-align: end;
}

#marmotte {
    width: 500px;
}

#chat {
    width: 200px;
    height: 200pxpx;
}


#container2 {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 10fr 400px;
    text-align: center;
    gap: 10px;
}
