
#img1:hover {
    scale: 2;
}

#img1:active {
    transform: rotate(180deg);
}


#img2:hover {
    transform: translateX(200px);
}

#img2:active {
    transform: skewX(40deg)
}

p {
    transform: scale(0.5) translateX(20px) rotate(35deg) skewY(10deg);
}